<!DOCTYPE html>
<html>

<head>
  <title>Password reset success - EasyEatsOnline</title>
</head>

<body style="font-family: Arial, sans-serif; line-height: 1.6; background-color: #CCC;">

  <table cellspacing="0" cellpadding="0" border="0" align="center" width="600"
    style="margin: 0 auto; padding: 20px; background-color: #F1F1F1; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
    <tr>
      <td>
        <h2 style="color: #333333;">Dear, {{ user.name }}!</h2>
        <p>Your password has been successfully reset.</p>
        <p style="font-weight: bold; color: #0088cc;">You can now log in with your new password.</p>
        <div style="margin-top: 30px; font-size: 14px; color: #666666;">
          <p>For any additional assistance, feel free to contact us at the following email address:
            contact@easteatsonline.com</p>
        </div>
        <div style="margin-top: 30px; font-size: 12px; color: #999999;">
          <p>Best regards,<br>The EasyEatsOnline Team</p>
          <p><a href="{{CLIENT_BASE_URL}}">EasyEatsOnline</a></p>
        </div>
      </td>
    </tr>
  </table>

</body>

</html>